body{
    background-image: url(images/2.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-position:center;
    opacity:0.8;
    background-color: #9a1f1f;

}
.space{
    padding-top: 240px;
}

h1{
    text-align: center;
    color: aliceblue;
}

#musicBox{
    border-style: dashed;
    background-color: rgb(144, 41, 0);
    width: 450px;
    height: 300px;
    margin: auto;
    margin-top: 151px;
}
