*{
 
}
body{
    background-image: url(images/4.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position:center;
}

.space{
    padding-top: 240px;
}

h1{
    text-align: center;
    color: aliceblue;
}
h1:hover{
    color: rgb(243, 43, 43);
}

#musicBox{
    /* border-style: dashed; */
    width: 551px;
    height: 401px;
    margin: auto;
    margin-top: 151px;
}

footer{
    color:rgb(177, 237, 152);
    opacity: 0.6;
    text-align: center;
    margin-top: 10vm;
}